  .navMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  .navMenu .navBar{
    display: flex;
    height: 3rem;
  }
  
  .navBar h1{
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    color:black;
  }

  .navMenu .sidebar{
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background-color: deeppink;
    max-width: 30vw; /*30% of screen width*/
    height: 100%;
    max-height: fit-content;
  }

  .navMenu .sidebarButton {
    height: 100%;
    width: 3rem;
  }

  .navMenu .dropdownButton {
  }

  .dropdownButton button{
    height: 100%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    width: inherit;
  }

  .dropdown-content button,
  .dropdown-content a{
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .dropdownButton:hover .dropdown-content{
    display: block;
    flex-direction: column;
  }